{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               medley/medley {:mvn/version "1.3.0"}
                               org.clojure/test.check  {:mvn/version "0.9.0"}
                               org.clojure/tools.namespace {:mvn/version "1.3.0"}
                               orchestra/orchestra {:mvn/version "2021.01.01-1"}
                               expound/expound {:mvn/version "0.9.0"}
                               djblue/portal {:mvn/version "0.34.2"}
                               aysylu/loom {:mvn/version "1.0.2"}

                               poly/build-context {:local/root "components/build-context"}
                               poly/build-graph {:local/root "components/build-graph"}
                               poly/directive-core {:local/root "components/directive-core"}
                               poly/directives {:local/root "components/directives"}
                               poly/directory {:local/root "components/directory"}
                               poly/entity {:local/root "components/entity"}
                               poly/execution {:local/root "components/execution"}
                               poly/factory {:local/root "components/factory"}
                               poly/output {:local/root "components/output"}
                               poly/persistence {:local/root "components/persistence"}
                               poly/specs {:local/root "components/specs"}
                               poly/template {:local/root "components/template"}
                               poly/utils {:local/root "components/utils"}

                               poly/library {:local/root "bases/alpha"}
                               }}

            :test {:extra-paths ["components/build-context/test"
                                 "components/build-graph/test"
                                 "components/directive-core/test"
                                 "components/directives/test"
                                 "components/directory/test"
                                 "components/entity/test"
                                 "components/execution/test"
                                 "components/factory/test"
                                 "components/output/test"
                                 "components/persistence/test"
                                 "components/specs/test"
                                 "components/template/test"
                                 "components/utils/test"
                                 
                                 "bases/alpha/test"
                                 ]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "f15e08ae01ee29d59f7eb1e80f52be6bc19f8eff"
                                 :deps/root "projects/poly"}}}}}
