{:deps {polylith/alpha {:local/root "../../bases/alpha"}

        poly/build-context {:local/root "../../components/build-context"}
        poly/build-graph {:local/root "../../components/build-graph"}
        poly/directive-core {:local/root "../../components/directive-core"}
        poly/directives {:local/root "../../components/directives"}
        poly/entity {:local/root "../../components/entity"}
        poly/execution {:local/root "../../components/execution"}
        poly/execution-context {:local/root "../../components/execution-context"}
        poly/factory {:local/root "../../components/factory"}
        poly/output {:local/root "../../components/output"}
        poly/persistence {:local/root "../../components/persistence"}
        poly/specs {:local/root "../../components/specs"}
        poly/template {:local/root "../../components/template"}
        poly/utils {:local/root "../../components/utils"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :build {:extra-deps {io.github.seancorfield/build-clj {:git/tag "v0.8.5" :git/sha "de693d0"}}
                   :default-ns build}}}
